body {
    background-color: #8075FF;
}

/*
 Stylisation des boutons et de son conteneur
*/
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-container button {
    background-color: #6320EE;
    border-style: solid;
    height: 10rem;
    width: 10rem;
    border-radius: 20%;
    margin: 10px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.button-container button:hover {
    background-color: #4b1baa;
    cursor: pointer;
    transform: scale(1.05);
}

.custom-icon-color {
    color: antiquewhite;
}

/*
 Stylisation de l'affichage du resultat
*/
.result-display h2 {
    margin-top: 3rem;
    color: antiquewhite;
}

.result-display {
    margin-top: 3rem;
}


#player-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#computer-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#game-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
}